@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Afterglow';
    src: url('/public/fonts/Afterglow-Regular.ttf') format('ttf'),
     url('/public/fonts/Lato-Regular.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @keyframes pulseSize {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  
  @keyframes fallAndRotate {
    0% {
      transform: translateY(-100%) rotate(0deg);
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }

  .animate-fall-and-rotate {
    animation: fallAndRotate 5s linear infinite;
  }
  
  .animate-fall-and-rotate.delay-1 {
    animation-delay: 1s;
  }
  
  .animate-fall-and-rotate.delay-2 {
    animation-delay: 3s;
  }